* {  margin: 0; padding: 0; border: 0;}
html{overflow:hidden; width:100%; height:100%;}
body{ background-color: #D6D6D6; overflow: hidden; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 10px;}
body.night{ background-color: #212324; overflow: hidden; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 10px; }
#button{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; border-radius:20px; border:1px solid #2b2e41; }
#button.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; border-radius:20px; border:1px solid #D6D6D6;}
#button:hover{ background-color: #F964A7; color:#FFFFFF;  }
#button.night:hover{ background-color: #059BB5; color:#FFFFFF;  }
#info{ pointer-events:none; position: absolute; left:10px; top:10px; width: 200px; height: 400px; color:#2b2e41; }
#info.night{ pointer-events:none; position: absolute; left:10px; top:10px; width: 200px; height: 400px; color:#D6D6D6; }
#container{ position: absolute; left:0; top:0; width:100%; height:100%; }
#container canvas { position: absolute; left:0; top:0; width:100%; height:100%; border: 0 none;}

#clock{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; border-radius:60px; border:1px solid #2b2e41; }
#clock.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; border-radius:60px; border:1px solid #D6D6D6;}

#angular{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  }
#angular.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; }
#angularsel{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #2b2e41; }
#angularsel.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #D6D6D6;}
#angularsel:hover{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #2b2e41; }
#angularsel.night:hover{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #D6D6D6;}
/*div{ padding: 10px; outline: 3px dashed #CCC; } div[contenteditable="true"]:hover{ background: rgba(255, 255, 153, 1); outline: 3px dashed #0090D2; }*/

#ik{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  }
#ik.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; }
#iksel{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #2b2e41; }
#iksel.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #D6D6D6;}
#iksel:hover{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #2b2e41; }
#iksel.night:hover{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #D6D6D6;}
/*div{ padding: 10px; outline: 3px dashed #CCC; } div[contenteditable="true"]:hover{ background: rgba(255, 255, 153, 1); outline: 3px dashed #0090D2; }*/

#iterations{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  }
#iterations.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; }
#iterationssel{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #2b2e41; }
#iterationssel.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #D6D6D6;}
#iterationssel:hover{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #2b2e41; }
#iterationssel.night:hover{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #D6D6D6;}
/*div{ padding: 10px; outline: 3px dashed #CCC; } div[contenteditable="true"]:hover{ background: rgba(255, 255, 153, 1); outline: 3px dashed #0090D2; }*/

#length{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  }
#length.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px; }
#lengthsel{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #2b2e41; }
#lengthsel.night{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px dashed #D6D6D6;}
#lengthsel:hover{ background-color: none; color:#2b2e41; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #2b2e41; }
#lengthsel.night:hover{ background-color: none; color:#D6D6D6; font-family:Consolas, 'ConsolasRegular', 'Courier New', monospace; font-size: 14px;  border:1px solid #D6D6D6;}
/*div{ padding: 10px; outline: 3px dashed #CCC; } div[contenteditable="true"]:hover{ background: rgba(255, 255, 153, 1); outline: 3px dashed #0090D2; }*/

#deco{ background-color: #2b2e41; }
#deco.night{ background-color: #D6D6D6; }


input, textarea, select, option {
 background-color:rgba(0,0,0,0);
 }